.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* BASE STYLES */

html {
  font-size: 125%;
}

body {
  font-size: 1rem;
  background: #f2f7ff;
}

.wrapper {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
}

/* HEADER STYLES */

header {
  background: #bada55;
  padding: 15px 0;
  margin-bottom: 20px;
}

.headerTitle {
  margin: 0;
  text-transform: uppercase;
}

/* INPUTS SECTION STYLES */

.inputs form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputs button {
  width: 150px;
}

textarea {
  resize: none;
}

.inputs form > * {
  margin: 5px 0;
}

/* MAIN SECTION STYLES */

main {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

main > div {
  border: 2px solid #000;
  width: 250px;
  height: 250px;
  margin: 25px 5px;
  padding: 5px;
  box-shadow: 5px 5px 5px #999;
  position: relative;
  word-wrap: break-word;
}

.Personal {
  background: palegoldenrod;
}

.Work {
  background: paleturquoise;
}

.Other {
  background: palevioletred;
}

/* .singleNote {
  border: 2px solid #000;
  width: 250px;
  height: 250px;
  margin: 25px 5px;
  padding: 5px;
  box-shadow: 5px 5px 5px #999;
  position: relative;
  word-wrap: break-word;
  background: #fff;
} */

.delete {
  position: absolute;
  top: 0;
  right: 0;
  color: #000;
  font-size: 1.3rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.delete:hover {
  color: #fff;
}

.edit {
  position: absolute;
  top: 0;
  left: 0;
  color: #000;
  font-size: 1.3rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

.edit:hover {
  color: #fff;
}